*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

img {
    width: 100%;
    height: 100%;
}

.swiper-button-next{
    left:50%;
   top:auto;
   right:auto;
   bottom:5%;
    margin-left:-13.5px;
    transform: rotate(90deg);
}
.swiper-button-next{
    margin-left: -13.5px;
    left:50%;
    right:auto;
    top:auto;
    bottom:4%;
    transform: rotate(-90deg);
    animation: q 1s infinite;
    animation-timing-function:linear;
    width: 40px;
    height: 30px;
}
@keyframes q{
    from{
       bottom: 4%;
        opacity: 1;
    }
    to{
        bottom: 8%;
        opacity: 0;
    }
}
/**********************************************第一张******************************************/
.s1{
    background: url("../img/1.jpg");
    background-size:cover;
    height: 100%;
    width: 100%;
    position: relative;
    
   
}

