html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    margin-left: -13.5px;
    left:50%;
    right:auto;
    top:auto;
    bottom:5%;
    transform: rotate(-90deg);
}
.swiper{
    
}


/***********************************************.s1第一屏样式***************************************/
.s1,.s2,.s3,.s4,.s5,.s6{
    background: url("../img/bj.png");
    height: 100%;
    position: relative;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position: absolute;
    top: 127px;
    left: 49px;
}
.s1 .header img:nth-of-type(2){
    width: 53px;
    position: absolute;
    top: 81px;
    right: 37px;
}
.s1 .header img:nth-of-type(3){
    width: 53px;
    position: absolute;
    top:405px;
    left: 18px;

}
.s1 .header img:nth-of-type(4){
    width: 40px;
    position: absolute;
    top:404px;
    right: 56px;
}
.s1 .header img:nth-of-type(5){
    width: 66%;
    position: absolute;
    top:175px;
    left: 16%;
}
.s1 .header img:nth-of-type(6){
    width: 2%;
    position: absolute;
    top:22px;
    left: 346px;
    transform: rotate(60deg);

}

/*****************************************第一屏文字样式***********************************/



.s1 .main{
    position: relative;
}
.s1 .main img:nth-of-type(1){
    width: 140px;
    position: absolute;
    top:211px;
    left: 30%;
}
.s1 .main img:nth-of-type(2){
    width: 81%;
    position: relative;
    top:265px;

}
.s1 .main .img9{
    background: url("../img/9.png");
    background-size:100%;
    width: 200px;
    position: absolute;
    top: 354px;
    left:22%;
    font-size:17px;
    font-weight:bolder;
}
.s1 .footer{
    position: relative;
    top: 56%;
}
.s1 .footer p{
    color:#0ca996;
    font-size:16px;
    font-weight:bold;
    line-height: 1;
    
}
.s1 .footer img:nth-of-type(1){
    position: absolute;
    width: 158%;
    top: 125px;

}
.s1 .footer img:nth-of-type(2){
    position: relative;
    width: 113%;
    top: 81px;
}

/*************************************第二屏文字样式**************************************/
.s2 {
    color: #00f8ca;
    margin-top: -22px;
}

.s2 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s2 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s2 h2::before,
.s2 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s2 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s2 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s2 div {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s2 div img {
    width: 100%;
    position: absolute;
    left: 0;
}

.s2 div p {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.s2 div p:nth-of-type(1) {
    padding-top: 20px;
}

.s2 div span {
    /*渐变色*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -28px;
    left: 50%;
    margin-left: -60px;
}
.s2 .footer{
    position: absolute;
    height: 70px;
    bottom: 0;
}
.s2 .footer img{
    width: 100%;
    top: 430px;
    height: 70px;
    width: 470px;
}
.s2 .footer img:nth-of-type(1){
    left: -21px;
}
.s2 .footer img:nth-of-type(2){
    left: -80px;
}

/************************************第三屏样式*********************************/

.s3 {
    color: #00f8ca;
    margin-top: -22px;
}

.s3 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s3 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s3 h2::before,
.s3 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s3 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s3 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s3 div p{
    width: 60px;
    height: 60px;
    background: -webkit-radial-gradient(#09092d,#01b7a1);
    border-radius: 60%;
    line-height: 3;
    position: absolute;
}
.s3 div p:nth-of-type(1){
    left: 23%;
    top: 28%;
}
.s3 div p:nth-of-type(2){
    left:61%;
    top: 28%;
}
.s3 div p:nth-of-type(3){
    left: 7%;
    top: 45%;
}
.s3 div p:nth-of-type(4){
    left: 23%;
    top: 63%;
}
.s3 div p:nth-of-type(5){
    left:61%;
    top: 63%;
}
.s3 div p:nth-of-type(6){
    left: 77%;
    top: 44.5%;
}

.s3 div p:nth-of-type(7){
    width: 133px;
    height: 133px;
    line-height: 7;
    top: 40%;
    left: 33%;
}

.s3 .footer span{
    font-size: 15px;
    position: absolute;

}

.s3 .footer span:nth-of-type(1){
    top: 78%;
    right: 15%;

}
.s3 .footer span:nth-of-type(2){
    top: 82%;
    right: 22%;
}

/*******************************************第四屏样式************************************/
.s4 {
    color: #00f8ca;
    margin-top: -22px;
}

.s4 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s4 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s4 h2::before,
.s4 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s4 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s4 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s4 div {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s4 div p{
    font-size:14px;
}
.s4 div p:nth-of-type(1){
    position: absolute;
    
}

.s4 div p:nth-of-type(1){
    position: absolute;
    
}


.s4 div img:nth-of-type(1){
    width: 100%;
    position: absolute;
    left: 0;
    top:210%;
}
.s4 .main img:nth-of-type(2){
     position: absolute;
    width: 20px;
    height: 20px;
    top: 280%;
    right: 75%;
}
.s4 .main img:nth-of-type(3){
     position: absolute;
    width: 20px;
    height: 20px;
    top: 280%;
    margin-left: 18px;
}

/**************p*****************/
.s4 .main p:nth-of-type(1){
    position: absolute;
    top:236%;
    left: 26%;
}
.s4 .main p:nth-of-type(2){
    position: absolute;
    top: 236%;
    left: 64%;
}
.s4 .main p:nth-of-type(3){
    position: absolute;
    left: 10%;
    top: 330%;
}
.s4 .main p:nth-of-type(4){
    position: absolute;
    top: 391%;
    left: 87%;
}
.s4 .main p:nth-of-type(5){
    position: absolute;
    top: 450%;
    left: 63%;
}
.s4 .main p:nth-of-type(6){
    position: absolute;
    top: 580%;
    left: 10%;
}
.s4 .main p:nth-of-type(7){
    position: absolute;
    top:200%;
    top: 640%;
    left: 76%;
}
.s4 .main p:nth-of-type(8){
    position: absolute;
    top: 700%;
    left: 55%;
}


.s4 .main p:nth-of-type(9){
    position: absolute;
    top: 820%;
    left: 10%;
}

.s4 .main p:nth-of-type(10){
    position: absolute;
    top: 882%;
    left: 57%;
}
.s4 .main p:nth-of-type(11){
    position: absolute;
    top: 942%;
    left: 51%;
}


/**************************img*************************/
.s4 .main img:nth-of-type(4){
    position: absolute;
    width: 20px;
    left:0;
    top: 370%;
}
.s4 .main img:nth-of-type(5){
    position: absolute;
    width: 80%;
    height: 15px;
    top: 445%;
    right: 15%
}
.s4 .main img:nth-of-type(6){
    position: absolute;
    height: 15px;
    width: 58%;
    right: 39%;
    top: 500%;
}
.s4 .main img:nth-of-type(7){
    position: absolute;
    width: 20px;
    left:0;
    top: 620%;
}


.s4 .main img:nth-of-type(8){
    position: absolute;
     width: 70%;
    height: 15px;
    top: 690%;
    right: 26%;
}

.s4 .main img:nth-of-type(9){
    position: absolute;
    height: 15px;
    width: 50%;
    top: 750%;
    right: 47%;
}

.s4 .main img:nth-of-type(10){
    position: absolute;
    position: absolute;
    width: 20px;
    left:0;
    top: 860%;
}

.s4 .main img:nth-of-type(11){
    position: absolute;
    width: 50%;
    height: 15px;
    top: 930%;
    right: 46%;
}

.s4 .main img:nth-of-type(12){
    position: absolute;
    width: 45%;
    height: 15px;
    top: 990%;
    right: 51%;
}

.footer span{
    font-size:13px;
}
.footer span:nth-of-type(1){
    position: absolute;
    right: 10%;
    top: 1116%;
}
.footer span:nth-of-type(2){
    position: absolute;
    right: 16%;
    top: 1200%;
}



/*************************************************第五页****************************************/
.s5 {
    color: #00f8ca;
    margin-top: -22px;
}

.s5 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
    margin-bottom:75px;
}

.s5 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s5 h2::before,
.s5 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s5 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s5 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s5 .tupian li{
    background: url(../img/12.png);
    background-size:contain;
    width: 134px;
    height:170px;
    float:left;
    margin-top:20px;
    margin-left:10px;
    
}
.s5 span{
    font-size:16px;
}
.s5 .tupian::after {
    display: block;
    content: '';
    clear: both;
}

.s5 .tupian li img{
    padding-top:15px;
    padding-left:8px;
}

.s5 .tupian p{
    margin:0;
}
.s5 .tupian p {
    background:-webkit-linear-gradient(left,#00e8f4,#0af89a);;
    color:#000;
    font-size:15px;
    width: 110px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    margin:0 auto;
}
/*********************************************第六页************************************/
.s6 {
    color: #00f8ca;
    margin-top: -22px;
}

.s6 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
    margin-bottom:75px;
}

.s6 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s6 h2::before,
.s6 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s6 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s6 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s6 .main{
    position: absolute;
    left:45px;
    top:166px;
    width: 2px;
    height: 406px;
    border-left:1px dashed #00fac5;
}
.s6 .main img:nth-of-type(1){
    position: absolute;
    width: 30px;
    height: 30px;
}
.s6 .main img:nth-of-type(2){
    position: absolute;
    
}
.s6 .main img:nth-of-type(3){
    position: absolute;
    
}
.s6 .main .main-top p i{
    color:#000;
   
}
.s6 .main .main-top p:nth-of-type(1){
    background: url(../img/26.png);
    background-size:cover;
    width: 260px;
    height: 28px;
    position: absolute;
    left: 20px;
    line-height: 30px;
}
.s6 .main .main-top p:nth-of-type(2){
    background: url(../img/28.png);
    background-size:contain;
    width: 281px;
    height: 80px;
    position: absolute;
    top: 10%;
    left: 20px;
}
.s6 .main .main-top p span:nth-of-type(1){
    position: absolute;
    left: 1%;
}
.s6 .main .main-top p span:nth-of-type(2){
    position: absolute;
    left: 1%;
    top: 27%;
}
.s6 .main .main-top p span:nth-of-type(3){
    position: absolute;
    left: 1%;
    top: 56%;
}
/****************************main-center************************/
.s6 .main .main-center p i{
    color:#000;
}
.s6 .main .main-center p:nth-of-type(1){
    background: url(../img/26.png);
    background-size:cover;
    width: 260px;
    height: 28px;
    position: absolute;
    top:33%;
    left: 20px;
    line-height: 30px;
}

.s6 .main .main-center p:nth-of-type(2){
    background: url(../img/28.png);
    background-size:contain;
    width: 281px;
    height: 80px;
    position: absolute;
    top: 43%;
    left: 20px;
}
.s6 .main .main-center p span:nth-of-type(1){
    position: absolute;
    left:1%;
}
.s6 .main .main-center p span:nth-of-type(2){
    position: absolute;
    left:1%;
    top: 24%;
}
.s6 .main .main-center p span:nth-of-type(3){
    position: absolute;
    left:1%;
    top:55%;
}
/**************************************main-bottom***********************************/
.s6 .main .main-bottom p i{
    color:#000;
}
.s6 .main .main-bottom p:nth-of-type(1){
    background: url(../img/26.png);
    background-size:cover;
    width: 260px;
    height: 28px;
    position: absolute;
    top:66%;
    left:20px;
    line-height: 30px;
}
.s6 .main .main-bottom p:nth-of-type(2){
    background: url(../img/28.png);
    background-size:contain;
    width: 281px;
    height: 80px;
    position: absolute;
    left: 20px;
    top: 77%;
}

.s6 .main .main-bottom p span:nth-of-type(1){
    position: absolute;
    left:1%;
    
}
.s6 .main .main-bottom p span:nth-of-type(2){
    position: absolute;
    left:1%;
    top: 26%;
}
.s6 .main .main-bottom p span:nth-of-type(3){
    position: absolute;
    left:1%;
    top: 55%;
}















