html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    margin-left: -13.5px;
    left:50%;
    right:auto;
    top:auto;
    bottom:5%;
    transform: rotate(90deg);
}


/**.s1第一屏样式*/
.s1,.s2{
    background: url("../img/bj.png");
    height: 100%;
    position: relative;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position: absolute;
    top: 127px;
    left: 49px;
}
.s1 .header img:nth-of-type(2){
    width: 53px;
    position: absolute;
    top: 81px;
    right: 37px;
}
.s1 .header img:nth-of-type(3){
    width: 53px;
    position: absolute;
    top:405px;
    left: 18px;

}
.s1 .header img:nth-of-type(4){
    width: 40px;
    position: absolute;
    top:404px;
    right: 56px;
}
.s1 .header img:nth-of-type(5){
    width: 66%;
    position: absolute;
    top:175px;
    left: 16%;
}
.s1 .header img:nth-of-type(6){
    width: 2%;
    position: absolute;
    top:22px;
    left: 346px;
    transform: rotate(60deg);

}

/*第一屏文字样式*/



.s1 .main{
    position: relative;
}
.s1 .main img:nth-of-type(1){
    width: 140px;
    position: absolute;
    top:211px;
    left: 30%;
}
.s1 .main img:nth-of-type(2){
    width: 81%;
    position: relative;
    top:265px;

}
.s1 .main .img9{
    background: url("../img/9.png");
    background-size:100%;
    width: 200px;
    position: absolute;
    top: 354px;
    left:22%;
    font-size:17px;
    font-weight:bolder;
}
.s1 .footer{
    position: relative;
    top: 56%;
}
.s1 .footer p{
    color:#0ca996;
    font-size:16px;
    font-weight:bold;
    line-height: 1;
    
}
.s1 .footer img:nth-of-type(1){
    position: absolute;
    width: 158%;
    top: 125px;

}
.s1 .footer img:nth-of-type(2){
    position: relative;
    width: 113%;
    top: 81px;
}

/*第二屏文字样式*/
.s2 {
    color: #00f8ca;
}

.s2 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s2 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s2 h2::before,
.s2 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s2 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s2 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s2 div {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s2 div img {
    width: 100%;
    position: absolute;
    left: 0;
}

.s2 div p {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.s2 div p:nth-of-type(1) {
    padding-top: 20px;
}

.s2 div span {
    /*渐变色*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -28px;
    left: 50%;
    margin-left: -60px;
}
.s2 .footer{
    position: absolute;
    height: 70px;
    bottom: 0;
}
.s2 .footer img{
    width: 100%;
    top: 430px;
    height: 70px;
    width: 470px;
}
.s2 .footer img:nth-of-type(1){
    left: -21px;
}
.s2 .footer img:nth-of-type(2){
    left: -80px;
}
